<h2>Редактирование профиля</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "оставьте пустым, если не хотите менять", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "вам нужен текущий пароль для потверждения изменений", :required => true %>
  <%= f.button :submit, 'Обновить', :class => 'btn-primary' %>
<% end %>
<h3>Отменить мой аккаунт</h3>
<p>Недовольны? <%= link_to "Удалить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %>.</p>
<%= link_to "Назад", :back %>
