<div id="groups-table-wrapper">
  <table class="table table-striped" id="groups-table">
    <thead>
      <tr>
        <th>Группы</th>
        <th> </th>
      </tr>
    </thead>
  
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), [@education_program, group], class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?' }, title: 'Удалить' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= form_for([@education_program, Group.new], { :html => { :class => 'form-inline', :id => 'create-new-group-form-ajax' } }) do |f| %>
  <div class="form-group" style="width: 100%">
    <%= f.text_field :name, :label => false, :placeholder => 'Название новой группы', :class => 'form-control', :style => 'width: 300px;' %>
    <%= f.submit 'Создать группу', :class => 'btn btn-primary' %>
  </div>
<% end %>

<br>

<%=
#link_to 'Создать новую группу', new_education_program_group_path
%>
