<h1>Зимняя промежуточная аттестация 2013/2014 года</h1>
<h3><%= @education_program.course %> &emsp; <%= EducationLevel.find(@education_program.educationLevel_id).name %> &emsp; <%= EducationForm.find(@education_program.educationForm_id).name %> &emsp; <%= @education_program.name %></h3>

<table>
  <thead>
    <tr>
      <th>Группы</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), [@education_program, group], class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?' }, title: 'Удалить' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новую группу', new_education_program_group_path %>
