<%= simple_form_for(@education_program, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-group">
  <%= f.input :course %>
  </div>
  <div class="form-group">
  <%= f.input :educationLevel %>
  </div>
  <div class="form-group">
  <%= f.input :educationForm %>
  </div>
  <div class="form-group">
  <%= f.input :name %>
  </div>  
  <div class="form-group">
  <%= f.button :submit, "Создать образовательную программу", :class => 'btn btn-primary' %>
  </div>
<% end %>
