<%= simple_form_for(@education_program, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-group">
  <%= f.input :course %>
  </div>
  <div class="form-group">
  <%= f.input :educationLevel %>
  </div>
  <div class="form-group">
  <%= f.input :educationForm %>
  </div>
  <div class="form-group">
  <%= f.input :name %>
  </div>  
  <div class="form-group">
  <%= f.button :submit, :is_edit_form ? "Сохранить изменения" : "Создать образовательную программу", :class => 'btn btn-primary' %>
  <% if :is_edit_form %>
    <%= link_to 'Посмотреть подробности', @education_program, :class => 'btn btn-link' %>
    <%= link_to 'Вернуться к списку', education_programs_path, :class => 'btn btn-link' %>
  <% end %>
  </div>
<% end %>
