<%= simple_form_for(@education_program, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-group">
  <%= f.input :course %>
  </div>
  <div class="form-group">
  <%= f.select :educationLevel_id, options_from_collection_for_select(EducationLevel.all, 'id', 'name') %>
  </div>
  <div class="form-group">
  <%= f.select :educationForm_id, options_from_collection_for_select(EducationForm.all, 'id', 'name') %>
  </div>
  <div class="form-group">
  <%= f.input :name %>
  </div>  
  <div class="form-group">
  <%= f.button :submit, :is_edit_form ? "Сохранить изменения" : "Создать расписание", :class => 'btn btn-primary' %>
  <% if :is_edit_form %>
    <%= link_to 'Посмотреть подробности', @education_program, :class => 'btn btn-link' %>
    <%= link_to 'Вернуться к списку', education_programs_path, :class => 'btn btn-link' %>
  <% end %>
  </div>
<% end %>