<h1>Зимняя промежуточная аттестация 2013/2014 года</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Курс</th>
      <th>Уровень</th>
      <th>Форма</th>
      <th>Направление/специальность</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @education_programs.each do |education_program| %>
      <tr>
        <td><%= education_program.course %></td>
        <td><%= education_program.educationLevel %></td>
        <td><%= education_program.educationForm %></td>
        <td><%= education_program.name %></td>
        <td>
          <button class="btn btn-xs btn-info">Группы</button>
          <button class="btn btn-xs btn-info">Испытания</button>
          <%= link_to raw('<i class="glyphicon glyphicon-list"></i>'), education_program, class: 'btn btn-default btn-xs', title: 'Посмотреть подробности' %>
          <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_education_program_path(education_program), class: 'btn btn-default btn-xs', title: 'Редактировать' %>
          <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), education_program, class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?' }, title: 'Удалить' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-toolbar" role="toolbar">
  <button class="btn btn-primary" data-toggle="modal" data-target="#new-education-program-modal"><i class="glyphicon glyphicon-plus-sign"></i> Добавить образовательную программу</button>
</div>

<div class="modal fade" id="new-education-program-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Добавление образовательной программы</h4>
      </div>
    <%= simple_form_for(@education_program, :html => {:class => 'form-vertical' }) do |f| %>
      <div class="modal-body">
        <div class="form-group">
        <%= f.input :course %>
        </div>
        <div class="form-group">
        <%= f.input :educationLevel %>
        </div>
        <div class="form-group">
        <%= f.input :educationForm %>
        </div>
        <div class="form-group">
        <%= f.input :name %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, "Создать образовательную программу", :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
      </div>
    <% end %>
    </div>
  </div>
</div>