<h1>Зимняя промежуточная аттестация 2013/2014 года</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Курс</th>
      <th>Уровень</th>
      <th>Форма</th>
      <th>Направление/специальность</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @education_programs.order('"educationForm_id" ASC, "educationLevel_id" ASC, course ASC, name ASC').each do |education_program| %>
      <tr>
        <td><%= education_program.course %></td>
        <td><%= EducationLevel.find(education_program.educationLevel_id).name %></td>
        <td><%= EducationForm.find(education_program.educationForm_id).name %></td>
        <td><%= education_program.name %></td>
        <td>
          <button class="btn btn-xs btn-info">Группы</button>
          <button class="btn btn-xs btn-info">Испытания</button>
          <%= link_to raw('<i class="glyphicon glyphicon-list"></i>'), education_program, class: 'btn btn-default btn-xs', title: 'Посмотреть подробности' %>
          <%=
            link_to raw('<i class="glyphicon glyphicon-pencil"></i>'),
            edit_education_program_path(education_program),
            class: 'btn btn-default btn-xs',
            title: 'Редактировать',
            data: {
              toggle: 'modal',
              target: ['#edit-education-program-modal-', education_program.id].join(''),
              remote: [edit_education_program_path(education_program), ' #edit-modal-wrapper-', education_program.id].join('')
            }
          %>
          <div class="modal fade" id="edit-education-program-modal-<%= education_program.id %>" tabindex="-1" role="dialog" aria-labelledby="mobalEditEdProgram" aria-hidden="true"></div>
          <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'), education_program, class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?' }, title: 'Удалить' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-toolbar" role="toolbar">
  <button class="btn btn-primary" data-toggle="modal" data-target="#new-education-program-modal"><i class="glyphicon glyphicon-plus-sign"></i> Добавить расписание</button>
</div>

<div class="modal fade" id="new-education-program-modal" tabindex="-1" role="dialog" aria-labelledby="mobalNewEdProgram" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Новое расписание</h4>
      </div>
      <%= render 'form', :is_modal_form => true %>
    </div>
  </div>
</div>