<h1>Зимняя промежуточная аттестация 2013/2014 года</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Курс</th>
      <th>Уровень</th>
      <th>Форма</th>
      <th>Направление/специальность</th>
      <th></th>
      <th></th>
      <th></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @education_programs.each do |education_program| %>
      <tr>
        <td><%= education_program.course %></td>
        <td><%= education_program.educationLevel %></td>
        <td><%= education_program.educationForm %></td>
        <td><%= education_program.name %></td>
        <td><%= link_to 'Show', education_program %></td>
        <td><%= link_to 'Edit', edit_education_program_path(education_program) %></td>
        <td><%= link_to 'Destroy', education_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <button class="btn btn-xs btn-info">Группы</button>
          <button class="btn btn-xs btn-info">Испытания</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-toolbar" role="toolbar">
    <%= button_to 'Добавить расписание', new_education_program_path, :class => "btn btn-primary", :method => :get  %>
</div>