<% if user_signed_in? %>
<li><a href="/session/list">Список расписаний</a></li>
<li><a href="/session/timetable">Расписание</a></li>
<li><a href="/session/tests">Аттестационные испытания</a></li>
<li><a href="/session/groups">Группы</a></li>
<% end %>
</ul>
<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
  <li><%= link_to 'Выйти', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Войти', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Редактировать профиль', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li class="pull-right"><%= link_to 'Админ', users_path %></li>
  <% end %>
<% end %>