<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li><%= link_to 'Admin', users_path %></li>
  <% end %>
<% end %>

<% if user_signed_in? %>
<li><a href="/session/list">Список расписаний</a></li>
<li><a href="/session/timetable">Расписание</a></li>
<li><a href="/session/tests">Аттестационные испытания</a></li>
<li><a href="/session/groups">Группы</a></li>
<% end %>